#========================================#
# Large amounts of code / logs
/node_modules
/corelogs
#========================================#

#========================================#
# IDE specific files
.vscode
.vs
#========================================#

#========================================#
# Private data
/private
#========================================#

#========================================#
# Build output
.turbobuild
.turbo
.build
target
build
dist
out
# bin
# We need bin today, includes CLI and tokio internals
#========================================#

#========================================#
# Misc
*.lock
package-lock.json
#========================================#
