#========================================#
# Large amounts of code / logs
#========================================#
# Large amounts of code / logs
/node_modules
/corelogs
#========================================#

#========================================#
# IDE specific files
#========================================#

#========================================#
# IDE specific files
/.vscode
/.vs
#========================================#

#========================================#
# Private data
/.vs
#========================================#

#========================================#
# Private data
/private
#========================================#

#========================================#
# Build output
/.turbobuild
/.turbo
/.build
#========================================#

#========================================#
# Build output
/.turbobuild
/.turbo
/.build
/target
/build
/dist
/out
/bin
#========================================#

#========================================#
# Misc
/*.lock
/*.test.*
/*.__.*
/package-lock.json
#========================================#
